<% provide(:title, "Editing #{@page.name}") %>
<div class="col-md-8">
  <%= render "title" %>
  <%= form_for(@content) do |f| %>
    <%= hidden_field_tag :name, @page.name %>
    <div class="edit_field">
      <%= f.text_area :words, :value => @page.contents.first.words %>
    </div>
    <%= f.submit "Save Changes", class: "btn btn-primary" %>
  <% end %>
</div>
