<% provide(:title, "New Page") %>
<div class="body">
  <%= form_for(@page) do |f| %>
    <%= f.text_field :name, :class => 'name', placeholder: "Page name"%>
    <%= f.fields_for :contents do |contents_form| %>
      <div class="field">
        <%= contents_form.text_area :words, placeholder: "Enter text here" %>
      </div>
      <%= contents_form.hidden_field :nested %>
    <% end %>
    <%= f.submit "Create Page", class: "btn btn-primary" %>
  <% end %>
</div>

