<header class="navbar main-bar">
  <div class="container">
    <%= link_to "Wiki", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Index", pages_path %></li>
        <% if params[:name] %>
          <li><%= link_to "Read", page_path(@page.name, version: params[:version]) %></li>
          <li><%= link_to "Edit", edit_page_path(@page.name, version: params[:version]) %></li>
          <li><%= link_to "History", history_page_path(@page.name) %></li>
        <% end %>
        <li><%= link_to "New", new_page_path %></li>
        <li><%= link_to "Log in", "#" %></li>
      </ul>
    </nav>
  </div>
</header>